@font-face
{
    font-family: Super Corn;
    src: url("Super Corn.ttf");
}
body {
    background-image: url("Ice_Cream_Background.jpg");
    background-size: cover;
    font-family: Super Corn, cursive, Arial;
    font-size: large;


}
#One, #Two, #Three  {
    background-color: white;
    opacity: 85%;
    padding: 8px 8px 0px;
    width: 25%;
    height: 60vh;
}
h1 {
    display: flex;
    justify-content: space-between;
}
#menus {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
 #logo
 {
     max-height: 15vh;
 }
 header {
     display: flex;
     justify-content: center;



 }

 footer {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: white;
     opacity: 85%;


 }

 h2{
     font-size: 10vh;
     padding: 0;
     margin: 0;
 }

footer p {
    font-size: 50px;
    margin: 0;

}